* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
  color: #121629;
  font-size: 14px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #b8c1ec;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 50px 0 50px 0;
  background-color:#121629;
  color: #bababa;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Verdana, serif;
  text-transform: uppercase;
  font-weight: 900;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1000px;
  gap: 1.5rem;
  padding: 2rem;
}

footer p {
  font-size: 1.2rem;
}

img {
  width: 75%;
  height: 55%;
  padding: 0 0 1rem 0
}

.image {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  background color: #fff;
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden
}

h2 {
  font-size: 2.5rem;
  padding: 0 0 1.2rem 0;
}

p {
  font-size: 1.25rem; 
}

.source {
  padding: 15px 0;
}

.use {
  padding: 15px 0 ;
  border-top: 2px solid #232946;
}
