* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #b8c1ec;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 50px 0 50px 0;
  background-color:#121629;
  color: #bababa;
}

.navLogo {
  font-size: 2.9rem;
  font-weight: 700;
  padding: 10px;
  font-family: trilby, serif;
  font-weight: 900;
  font-style: normal;
}

.favorite {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 900px;
  gap: 1.5rem;
  padding: 2rem;
}

footer p {
  font-size: .8rem;
}

img {
  width: 75%;
  height: 50%;
}

.image {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
