* {
  margin: 0;
  padding: 0;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: Helvetica, sans-serif;
  color: #121629;
  font-size: 14px;
}

body {
  min-width: 600px;
  margin: auto;
  background-color: #b8c1ec;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 50px 0 75px 0;
  background-color:#121629;
  color: #bababa;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Verdana, serif;
  text-transform: uppercase;
  font-weight: 900;
}

h1, h2 {
  font-family: Chewy;
  font-weight: 200;
}

.descriptor {
  margin-top: 10px;
}

.favorites {
  display: grid;
  grid-template-columns: repeat(2, 390px);
  grid-auto-rows: 775px;
  gap: 1.25rem;
  padding: 2rem;
  justify-content: center;
}

footer p {
  font-size: 1.2rem;
}

img {
  width: 100%;
  height: auto%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.image {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(174, 246, 255, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden
}

h2, .source, .use {
  margin: 0 10px;
}

h2 {
  font-size: 2rem;
  padding: 0 0 0.8rem 0;
}

.source {
  padding: 15px 0;
  font-size: 0.9rem; 
}

.use {
  padding: 15px 0 ;
  border-top: 2px solid #232946;
  font-size: 1.2rem; 
}

